{
  "env": {

    "development": {

      "presets": [
        "es2015"
      ],

      "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "add-module-exports"
      ],
      "sourceMaps": "inline"
    },

    "production": {

      "presets": [
        "es2015"
      ],

      "comments": false,

      "plugins": [
      "add-module-exports",
        "transform-class-properties",
        "transform-class-constructor-call"
      ]
    }
  }
}
